<!DOCTYPE html>
<html lang="en" ng-app="admin">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Joeper Serrano, Eric de Felix, Jofel Bayron, Jose Pantaleon III">
    <meta name="copyright" content="MoonHauz Real Properties">

    <title>Moon Hauz Real Propertiess</title>

    <base href="/"></base>

    <!-- Fonts -->
    <link href="ng/components/vendor/fonts/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- UI -->
    <!-- <link href="ng/public/jquery-ui.custom/jquery-ui.css" rel="stylesheet"> -->
    <link href="ng/components/fullcalendar/dist/fullcalendar.css" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="ng/components/vendor/css/bootstrap.min.css" rel="stylesheet">

    <!-- App -->
    <link href="ng/components/vendor/css/barm.css" rel="stylesheet">
    <link href="ng/components/cs-angular-utilities/passive-messenger.css" rel="stylesheet">
    <!-- <link href="ng/public/vendor/css/fullcalendar-bootstrap.css" rel="stylesheet"> -->
    <style type="text/css">
      /*enabling searchbox in modal*/
      .pac-container{
        background-color: #FFF;
        z-index: 1051;
        position: fixed;
        display: inline-block;
        float: left;
      }
    </style>
  </head>

  <body>
    <div x-passive-messenger class="alert"></div>
    <div class="container-fluid">
      
      <!-- Header -->
      <div class="row header">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <!-- <img class="site-brand" src="ng/public/vendor/img/logo.svg" alt="Cloud Sherpas"> -->
	  <h3>MoonHauz Real Properties <small>(Admin Page)</small></h3>
        </div>
        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
          <div class="header-buttons pull-left">
            <button class="btn btn-default btn-sm ui-button ui-state-active"><i class="fa fa-info"></i> Information</button>
            <button class="btn btn-default btn-sm ui-button ui-state-active"><i class="fa fa-phone"></i> Contacts</button>
          </div>
        </div>
      </div>
      <!-- Header -->
      <div class="row" ng-view>
      </div>
      <!-- Main -->

      <!--/end of modal  -->
      <!-- jQuery -->
      <script src="ng/components/vendor/js/jquery.min.js"></script>
      <!-- <script src="ng/public/jquery-ui.custom/external/jquery/jquery.js"></script> -->

      <!-- Where do we use this? -Eric -->
      <script src="ng/components/jquery-ui.custom/jquery-ui.min.js"></script>
      <script src="ng/components/vendor/js/bootstrap.min.js"></script>
      
      <!-- jQuery fullcalendar-->
      <script src="ng/components/moment/min/moment.min.js"></script>
      <script src="ng/components/fullcalendar/dist/fullcalendar.js"></script>


      <!-- Angular App -->
      <script src="ng/components/angular/angular.js"></script>
      <script src="ng/components/angular-ui-utils/ui-utils.js"></script>
      <!--- angular-ui-select -->
      <script src="ng/components/angular-ui-select/dist/select.js"></script>

      <!-- Angular Utils -->
      <script src="ng/components/angular/angular-resource.js"></script>
      <script src="ng/components/angular/angular-cookies.js"></script>
      <script src="ng/components/angular/angular-sanitize.js"></script>
      <script src="ng/components/angular/angular-animate.js"></script>
      <script src="ng/components/angular/angular-touch.js"></script>
      <script src="ng/components/angular/angular-route.js"></script>
      <script src="ng/components/cs-angular-utilities/pubsub.js"></script>
      <script src="ng/components/cs-angular-utilities/loading.js"></script>
      <script src="ng/components/cs-angular-utilities/modal.js"></script>
      <script src="ng/components/cs-angular-utilities/passive-messenger.js"></script>
      <script src="ng/components/ng-file-upload/ng-file-upload.min.js"></script>


      <!-- date js  -->
      <script src="ng/components/vendor/js/date.js"></script>

      <!-- Angular UI / Angular Bootstrap -->
      <script src="ng/components/angular-bootstrap/ui-bootstrap-custom-tpls-0.12.0.min.js"></script>
      <!-- Google APIs -->
      <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB9kZ-cv8SKOrVK19N-hqOkgYDUWkeuFZs&libraries=places"></script>
      <script type="text/javascript" src="ng/components/libs/google_map.js"></script>
      <script src="https://apis.google.com/js/client.js"></script>

      <!-- App -->
      <script src="ng/admin/app.js"></script>
      <!--admin-->
      <script src="ng/admin/properties/property.rest.js"></script>
      <script src="ng/admin/properties/properties.model.js"></script>
      <script src="ng/admin/properties/properties.controller.js"></script>
      <script src="ng/admin/properties/property-modal.controller.js"></script>
      <!-- Directives -->
      <script src="ng/admin/routes.js"></script>

  </body>
</html>
