<!DOCTYPE html>
<html lang="en" ng-app="mailApp" ng-controller="ProgressDemoCtrl">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Joeper Serrano, Eric de Felix, Jofel Bayron, Jose Pantaleon III">
    <meta name="copyright" content="MoonHauz Real Properties">

    <title>Moon Hauz Real Propertiess</title>

    <base href="/"></base>

    <!-- Fonts -->
    <link href="ng/public/vendor/fonts/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet'>

    <!-- UI -->
    <!-- <link href="ng/public/jquery-ui.custom/jquery-ui.css" rel="stylesheet"> -->
    <link href="ng/public/bower_components/fullcalendar/dist/fullcalendar.css" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="ng/public/vendor/css/bootstrap.min.css" rel="stylesheet">

    <!-- App -->
    <link href="ng/public/vendor/css/barm.css" rel="stylesheet">
    <!-- <link href="ng/public/vendor/css/fullcalendar-bootstrap.css" rel="stylesheet"> -->

  </head>

  <body style="min-width: 1100px;" ng-controller="calendarCtrl">

    <div class="container-fluid">

      <!-- Header -->
      <div class="row header">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <!-- <img class="site-brand" src="ng/public/vendor/img/logo.svg" alt="Cloud Sherpas"> -->
	  <h3>MoonHauz Real Properties <small>(Admin Page)</small></h3>
        </div>
        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
          <div class="header-buttons pull-right" ng-controller="ModalDemoCtrl">
            <button class="btn btn-primary btn-sm ui-button ui-state-active" ng-click="openproj('md')" type="button"><i class="fa fa-plus-circle"></i> Add Property</button>
            <!-- <button class="btn btn-primary btn-sm ui-button ui-state-active" ng-click="allocate('lg')" type="button"><i class="fa fa-plus-circle"></i> Allocate Resources</button> -->
          </div>
          <div class="header-buttons pull-left">
            <button class="btn btn-default btn-sm ui-button ui-state-active"><i class="fa fa-info"></i> Information</button>
            <button class="btn btn-default btn-sm ui-button ui-state-active"><i class="fa fa-phone"></i> Contacts</button>
          </div>
        </div>
      </div>
      <!-- Header -->

      <!-- Progress Bar Controls -->
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 progress-controls">



	</div>
	<!-- Progress Bar Controls -->

	<!-- Main -->
	<div class="row">

          <!-- Property List -->
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 sidebar">

            <div class="row">
              <div class="col-md-12">
                <h3>Property List</h3>
              </div>

            </div>


          </div>

          <!-- Resources -->

          <!-- Calendar -->
          <div id="rightColumn" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 calendar-container">
            <h3> Property Profile <a><i class="fa fa-pencil-square-o"></i></a></h3>
            <div class="row">
              <div class="col-md-12"><strong> Location: </strong>
          	<span>Molino Blvd, Bacoor City, Cavite</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12"><strong> Area: </strong>
          	<span>123 SQ M.</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12"><strong> Price: </strong>
          	<span>P 1M</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12"><strong> Description: </strong>
          	<span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
              </div>
              <div class="col-md-12"><strong> Additional Documents: </strong></br>
          	<i class="fa fa-file-excel-o"> file.xls</i>
          	<i class="fa fa-file-pdf-o"> file.pdf</i>
          	<i class="fa fa-file-word-o"> file.doc</i>
              </div>
            </div>
	  </div>
          <div id="rightColumn" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 calendar-container">
            <h3> Map </h3>
            <div class="row">
              <div id="map-canvas" class="col-md-12" style="height: 500px;"></div>
            </div>
          </div>
          <!-- Calendar -->

	</div>
	<!-- Main -->

      </div>


      <!-- jQuery -->
      <script src="ng/public/vendor/js/jquery.min.js"></script>
      <!-- <script src="ng/public/jquery-ui.custom/external/jquery/jquery.js"></script> -->

      <!-- Where do we use this? -Eric -->
      <script src="ng/public/jquery-ui.custom/jquery-ui.min.js"></script>

      <!-- jQuery fullcalendar-->
      <script src="ng/public/bower_components/moment/min/moment.min.js"></script>
      <script src="ng/public/bower_components/fullcalendar/dist/fullcalendar.js"></script>


      <!-- Angular App -->
      <script src="ng/components/angular/angular.js"></script>
      <script src="ng/public/bower_components/angular-ui-utils/ui-utils.js"></script>
      <!--- angular-ui-select -->
      <script src="ng/public/bower_components/angular-ui-select/dist/select.js"></script>

      <!-- Angular Utils -->
      <script src="ng/components/angular/angular-resource.js"></script>
      <script src="ng/components/angular/angular-cookies.js"></script>
      <script src="ng/components/angular/angular-sanitize.js"></script>
      <script src="ng/components/angular/angular-animate.js"></script>
      <script src="ng/components/angular/angular-touch.js"></script>
      <script src="ng/components/angular/angular-route.js"></script>
      <script src="ng/components/cs-angular-utilities/pubsub.js"></script>
      <script src="ng/components/cs-angular-utilities/modal.js"></script>

      <!-- date js  -->
      <script src="ng/public/vendor/js/date.js"></script>

      <!-- Angular UI / Angular Bootstrap -->
      <script src="ng/public/angular-bootstrap/ui-bootstrap-custom-tpls-0.12.0.min.js"></script>
      <!-- Google APIs -->
      <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB9kZ-cv8SKOrVK19N-hqOkgYDUWkeuFZs"></script>


      <!-- App -->
      <script src="ng/admin/app.js"></script>
      <script src="ng/admin/routes.js"></script>
      <script src="ng/directives.js"></script>

      <!-- services here -->
      <script src="ng/services/mail_service.js"></script>
      <script src="ng/services/barm_service.js"></script>

      <!-- controllers here-->
      <script src="ng/controllers/modal_controller.js"></script>
      <script src="ng/controllers/proj_controller.js"></script>
      <script src="ng/controllers/alloc_controller.js"></script>
      <script src="ng/controllers/prog_controller.js"></script>
      <script src="ng/controllers/resource_controller.js"></script>
      <script src="ng/controllers/calendar_controller.js"></script>
      <script src="ng/controllers/task_controller.js"></script>
      <script src="ng/controllers/event_controller.js"></script>

      <!-- Directives -->
      <script src="ng/directives/select2/directive.js"></script>
      <script src="ng/directives/select.js"></script>


  </body>
</html>
