<div class="row">
  <div class="col-sm-8 col-sm-offset-2" class="">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
	<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	<li data-target="#myCarousel" data-slide-to="1"></li>
	<li data-target="#myCarousel" data-slide-to="2"></li>
	<li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
	<div class="item active">
	  <img src="/ng/components/interior-real-estate-photography.jpg" alt="Chania">
	</div>

	<div class="item">
	  <img src="/ng/components/interior-real-estate-photography.jpg" alt="Chania">
	</div>

	<div class="item">
	  <img src="/ng/components/interior-real-estate-photography.jpg" alt="Chania">
	</div>

	<div class="item">
	  <img src="/ng/components/interior-real-estate-photography.jpg" alt="Chania">
	</div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	<span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	<span class="sr-only">Next</span>
      </a>
    </div>
  </div><!--/ end of carousel container-->

  <!--menus-->
  <div class="col-sm-offset-2 col-sm-8 margin-top-md" >
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="#">Basic Information</a></li>
      <li role="presentation"><a href="#!">Documents Information</a></li>
      <li role="presentation"><a href="#!">Geographic Information</a></li>
    </ul>
  </div>
  <!--property information-->
  <div class="col-sm-8 col-sm-offset-2">
    <h3>Basic Information</h3>
    <hr>
    <div class="col-sm-12">
      <p>
	<strong>Midas Hotel Pasay Road Metro Manila, Ph</strong>
      </p>
    </div>
    <div class="col-sm-6">
      <p>
	<strong>Price :&nbsp;&nbsp;<span>Php. 2.5 M</span> </strong>
      </p>
    </div>

    <div class="col-sm-6">
      <p>
	<strong>Land Area :</strong> <span> 120 sqm.</span>
      </p>
    </div>

    <div class="col-sm-6">
      <p>
	<strong>Floor Area :</strong> <span> 120 sqm.</span>
      </p>
    </div>

    <div class="col-sm-6">
      <p>
	<strong># FlOORS :</strong> <span> 4</span>
      </p>
    </div>

    <div class="col-sm-6">
      <p>
	<strong>Rooms :</strong> <span> 10</span>
      </p>
    </div>

    <div class="col-sm-12">
      <p>
	<strong>Features:</strong> <br>
	<span>
	  Palazzo di Amore represents the ultimate lifestyle on a one-of-a kind 25 acre promontory. It can easily accommodate parking for approx. 150 cars, and its proximity to world class cultural opportunities is virtually unbeatable. The prestigious residence, with its perfectly-conceived architecture, represents both majesty and family. Outstanding amenities include: Privacy and Security up a Ã?Â¼ mile driveway, guard house, private drivers quarters, guest house, state-of-the-art theatre, discotheque, bowling alley, wine cellar, wine producing vineyard, pool, spa, formal gardens, tennis court and city to ocean views. With all the lush beauty of the Mediterranean, and all the cosmopolitan grandeur of a Beverly Hills address, Palazzo di Amore is indisputably without rival
	</span>
      </p>
    </div>

  </div>

  <!--documents information-->
  <div class="col-sm-8 col-sm-offset-2">
    <h3>Documents Information</h3>
    <table class="table">
      <thead>
      </thead>
      <tbody>
        <tr ng-repeat="x in [1,2,3,4]">
          <td><i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Land Title</td>
          <td style="text-align: right">
            <button class="btn btn-primary btn-sm">Preview</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!--geographic location information-->
  <div class="col-sm-8 col-sm-offset-2">
    <h3>Geographic Location Information</h3>
    <hr>
    <div id="map-canvas" class="col-sm-12" style="height: 350px">

    </div>
  </div>

</div>
