<!DOCTYPE html>
<html ng-app="app" ng-init="properties=[1, 2, 3]">
  <head>
    <title>Moon Hauz Real Properties</title>
    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="ng/public/css/moonhauz.css">
    <link rel="stylesheet" href="ng/components/owl-carousel/owl.carousel.css">
    <link href="ng/public/vendor/fonts/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Default Theme -->
    <link rel="stylesheet" href="ng/components/owl-carousel/owl.theme.css">
    <link href="ng/components/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <!--navbar-->
    <div class="row">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#">
	      MoonHauz
	    </a>
	  </div>
	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    <ul class="nav navbar-nav">
              <li><a href="#home">Home<span class="sr-only"></span></a></li>
              <li><a href="#properties">Properties<span class="sr-only"></span></a></li>
	    </ul>
	  </div><!-- /.navbar-collapse -->
      </nav>
      </div>
      <!--/end of nav bar-->

      <!--Carousel-->
      <div class="container-fluid" ng-view>
      </div>

      <footer class="footer">
	<div class="container">
      	  <div class="media col-sm-4">
      	    <div class="media-left">
      	      <a href="#">
      	  	<img class="media-object" src="ng/components/logo.png" alt="...">
      	      </a>
      	    </div>
      	    <div class="media-body">
      	      <h3 class="media-heading">MoonHauz</h3>
	      jpantaleon@mrlink.com.ph
      	    </div>
      	  </div>

	  <div class="col-sm-8">
	    
	  </div>
	</div>
      </footer>
  </body>

  <script src="ng/components/angular/angular.js"></script>
  
  <script src="ng/public/vendor/js/jquery.min.js"></script>
  <script src="ng/components/bootstrap/js/bootstrap.min.js"></script>
  <!-- Include js plugin -->
  <script src="ng/components/owl-carousel/owl.carousel.js"></script>
  <script src="ng/public/bower_components/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="ng/public/js/moonhauz.js"></script>

  <!-- Angular Utils -->
  <script src="ng/components/angular/angular-resource.js"></script>
  <script src="ng/components/angular/angular-cookies.js"></script>
  <script src="ng/components/angular/angular-sanitize.js"></script>
  <script src="ng/components/angular/angular-animate.js"></script>
  <script src="ng/components/angular/angular-touch.js"></script>
  <script src="ng/components/angular/angular-route.js"></script>
  <script src="ng/components/cs-angular-utilities/pubsub.js"></script>
  <script src="ng/components/cs-angular-utilities/loading.js"></script>
  <script src="ng/components/cs-angular-utilities/modal.js"></script>
  <script src="ng/components/cs-angular-utilities/passive-messenger.js"></script>

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB9kZ-cv8SKOrVK19N-hqOkgYDUWkeuFZs&libraries=places"></script>
  <script type="text/javascript" src="ng/components/libs/google_map.js"></script>

  <script src="ng/app/app.js"></script>
  <script type="text/javascript" src="ng/app/property/property.rest.js"></script>
  <script type="text/javascript" src="ng/app/property/property.model.js"></script>
  <script type="text/javascript" src="ng/app/property_details/property-details.controller.js"></script>
  <script type="text/javascript" src="ng/app/property/property.controller.js"></script>
  <script src="ng/app/routes.js"></script>
  <script src="ng/directives/owl.directive.js"></script>

</html>
