<div ng-controller="mail_controller">
<h3>Compose Mail</h3>
<hr>
<form ng-submit="composeMail()" class="form">
  <p id="form_message"></p>
  <div class="form-group">
    <label>Recipient</label>
    <input ng-model="mail.recipient" type="text" name="recipient" class="form-control" required="True">
  </div>
  
  <div class="form-group">
    <label for="subject">Subject</label>
    <input ng-model="mail.subject" type="text" name="recipient" class="form-control" required="True" value="{{subject}}">
  </div>
  
  <div class="form-group">
    <label for="message">Message</label>
    <textarea ng-model="mail.message" class="form-control" required="True">{{message}}</textarea>
  </div>
  
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Send</button>
  </div>
</form>
</div>
