<div class="bg"></div>
<div id="jumbotron" class="jumbotron">

  <div class="col-sm-4 headline-left">
    <h3>Get Ready to Buy or Rent!</h3>
    <br><br>
    <ul style="list-style-type: none;">
      <li><h4><span class="glyphicon glyphicon-check input-success"></span>&nbsp;&nbsp;Land (Industrial, Commercial, Agriculture)</h4></li>
      <li><h4><span class="glyphicon glyphicon-check input-success"></span>&nbsp;&nbsp;House and Lot</h4></li>
      <li><h4><span class="glyphicon glyphicon-check input-success"></span>&nbsp;&nbsp;Condo Unit</h4></li>
      <li><h4><span class="glyphicon glyphicon-check input-success"></span>&nbsp;&nbsp;Apartment</h4></li>
    </ul>
  </div>

  <div class="col-sm-8" style="text-align: center">
    <h2>MoonHauz Real Estate</h2>
    <div class="col-sm-12 margin-top-lg">
      <form ng-submit="home.submitSearchByLocation()" class="form">
        <div class="input-group">
	  <label class="control-label" for="inputSuccess4"></label>
	  <input type="text" class="form-control input-lg" id="inputSuccess4" placeholder="Name or Address" ng-model="home.location_input">
	  <span class="input-group-btn">
	    <button class="btn btn-primary btn-lg">Search</button>
	  </span>
	</div>
      </form>
    </div>
  </div>
</div>

