<div class="row margin-top-sm" style="background-image: url('ng/components/real-estate.png');">
  <!-- <img src="ng/components/real-estate.png" class="img-responsive" width="100%" height="50"/> -->
  <div class="col-sm-5 panel-default">
    <form class="form">
      <div class="form-group">
        <select class="form-control">

        </select>
      </div>
    </form>
  </div>
  <!-- <div id="owl-carousel" class="owl-carousel owl-theme col-sm-8" owl>

    <div class="item"><img src="ng/components/1.jpg" class="img-responsive" alt="The Last of us"></div>
    <div class="item"><img src="ng/components/2.jpg" class="img-responsive" alt="GTA V"></div>
    <div class="item"><img src="ng/components/3.jpg" class="img-responsive" alt="Mirror Edge"></div>

  </div> -->
</div>
