<div ng-controller="getEmailsController">
  <div class="col-md-12" style="margin-top:20px;">
    <form action="" class="form-inline" method="POST">
      <span style="font-size: 16px;">SentMail</span>&nbsp;
      <div class="form-group">
	<input type="search" name="subject" placeholder="Search by Subject" ng-model="query">
      </div>
    </form>
    <hr>
  </div>
  <table class="table table-condensed">
    <thead>
      <th>Subject</th>
      <th>Recipient</th>
      <th>Message</th>
    </thead>
    <tbody>
      <tr ng-repeat="email in emails | filter:query">
	<td ng-bind="email.subject"></td>
	<td ng-bind="email.recipient"></td>
	<td ng-bind="email.message"></td>
      </tr>
    </tbody>
  </table>
</div>
