<div class="modal-header">
    <h3 class="modal-title">Add a developer</h3>
</div>

<form>
<div class="modal-body">
         <!--<ul>
             <li ng-repeat="item in items">
               <a ng-click="selected.item = item"><span ng-bind="item"></span></a>
             </li>
         </ul>
         Selected: <b><span ng-bind="selected.item"></span></b>
           -->
    <input ng-model="person.firstname" type="text" class="input-sm form-control" placeholder="First Name">
    <input ng-model="person.lastname" type="text" class="input-sm form-control" placeholder="Last Name">
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

</form>

