<div class="modal-header">
    <h3 class="modal-title">Allocate Resources</h3>
</div>

<form name="form" validate>

<!-- Modal Body -->
<div class=" modal-body">

    <div class="row">
        <div class="col-xs-3" style="padding-right: 0;">
            <div class="well well-billable">
                <div class="form-group">
                    <label class="btn-block">Total Billable Hours</label>
                    <span ng-bind-html="selected.project_id.billable_hours"></span>
                </div>

                <div class="form-group">
                    <label class="btn-block">Remaining Hours</label>
                    <span ng-bind-html="selected.project_id.remaining_hours"></span>
                </div>

                <div class="form-group">
                    <label class="btn-block">Start Date</label>
                    <span ng-required="true" ng-bind-html="selected.project_id.start_date | date:'medium'"></span>
                </div>
            </div>
        </div>

        <div class="col-xs-9" style="padding-left: 15px;">
            <div class="form-group">
                <label>Project Name</label>
                <select ng-model="selected.project_id" ng-options="item.name for item in projects track by item.key.urlsafe" class="input-sm form-control"></select>
            </div>
            <hr>
            <label>Add Resource Information</label>
            <div class="row">
                <div class="col-md-4" style="padding-right: 0;">
                    <div class="input-group input-group-sm">
                        <select id="person_list" ng-model="selected_person" ng-options="person.name for person in persons track by person.key.urlsafe" class="input-sm form-control"></select>
                        <input  id="resource_err" type="text" mandatory ng-model="resource" class="input-sm form-control" placeholder="Name" style="display:none;">
                    <span class="input-group-btn">
                        <button ng-click="showAddPerson()" id="add-person-btn" class="btn btn-default btn-sm btn-block"><i id="user-icon" class="fa fa-user-plus"></i></button>
                    </span>
                    </div>
                </div>
                <div class="col-md-2" style="padding-right: 0;">
                    <input id="hour_err" type="text" number-only numbers-limit mandatory ng-model="hour" placeholder="Hours" class="input-sm form-control">
                </div>
                <div class="col-md-3" style="padding-right: 0;">
                    <div class="input-group input-group-sm dropdown-menu-datepicker">
                        <input id="dateString" ng-model="disp_date" datepicker-popup="{{format}}" type="text"  class="form-control" placeholder="Date" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" readonly date-disabled="disabled(date, mode)" close-text="Close" ng-click="open($event)">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-warning btn-sm btn-block" ng-click="addTodo()"><i class="fa fa-level-down fa-lg"></i> Add to Pool</button>
                </div>

                <div class="col-xs-12">
                    <hr>
                    <table class="table table-condendsed">
                        <thead>
                            <tr>
                                <th width="50%">Resource Name</th>
                                <th width="5%">Hours</th>
                                <th width="40%">Date</th>
                                <th width="1%"></th>
                            </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>
                                <div ng-repeat="resource in resources track by $index">
                                    <span ng-bind-html="resource"></span>
                                </div>
                            </td>

                            <td>
                                <div ng-repeat="hour in hours track by $index">
                                    <span ng-bind-html="hour"></span>
                                </div>
                            </td>

                            <td>
                                <div ng-repeat="disp in disp_dates track by $index">
                                    <span ng-bind-html="disp"></span>
                                </div>
                            </td>

                            <td width="1%">
                                <div ng-repeat="hour in hours track by $index">
                                    <a class="btn btn-danger btn-xs" ng-click="removeTodo($index)" aria-label="Remove">
                                        <span class="fa fa-times"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <span class="alert alert-danger" style="display:none;" id="error_msg"></span>
                </div>
            </div>

        </div>
    </div>




</div>
<!-- Modal Body -->

<div class="modal-footer">
    <button id="ok-btn" class="btn btn-primary btn-sm" ng-click="ok()">Confirm</button>
    <button class="btn btn-link btn-sm" ng-click="cancel()">Cancel</button>
</div>
</form>
