<form>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-3" style="padding-right: 0;">
            <div class="well well-billable">
                <div class="form-group">
                    <label class="btn-block">Resource name</label>
                    <span ng-bind-html="items.resource_name"></span>
                </div>

                <div class="form-group">
                    <label class="btn-block">Total Hours</label>
                    <span ng-bind-html="items.total_hours"></span>
                </div>

                <div class="form-group">
                    <label class="btn-block">Remaining Hours</label>
                    <span ng-required="true" ng-bind-html="items.remaining_hours"></span>
                </div>
            </div>
        </div>
       <div class="col-xs-9" style="padding-left: 15px;">
            <hr>
            <label>Assign <i ng-bind-html="items.resource_name"> </i>.</label>
            <div class="row">

                <div class="col-md-3" style="padding-right: 0;">
                    <div class="input-group input-group-sm dropdown-menu-datepicker">
                        <input readonly mandatory type="text" class="form-control" datepicker-popup="{{calendar.dateFormat}}" ng-model="record.start_date" is-open="calendar.opened.dob" datepicker-options="calendar.dateOptions" close-text="Close" placeholder="Start date" ng-click="calendar.open($event, 'dob')"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'dob')"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3" style="padding-right: 0;">
                    <div class="input-group input-group-sm dropdown-menu-datepicker">
                        <input readonly mandatory type="text" class="form-control" datepicker-popup="{{calendar.dateFormat}}" ng-model="record.end_date" is-open="calendar.opened.win" datepicker-options="calendar.dateOptions" close-text="Close" placeholder="End date" ng-click="calendar.open($event, 'win')" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'win')"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2" style="padding-right: 0;">
                    <input id="hour_err" type="text" number-only numbers-limit mandatory ng-model="record.hour" placeholder="hrs/day" class="input-sm form-control">
                </div>
                <div class="col-md-3">
                    <button id="pool-btn" class="btn btn-warning btn-sm btn-block" ng-click="addEvent()"><i id="pool-msg" class="fa fa-level-down fa-lg"></i> Assign</button>
                </div>

                <div class="col-xs-12">
                    <hr>
                    <table class="table table-condendsed">
                        <thead>
                            <tr>
                                <th width="35%">Resource Name</th>
                                <th width="25%">Total Hrs.</th>
                                <th width="20%">Remaining Hrs.</th>
                                <th width="10%"></th>
                                <th width="10%"></th>
                            </tr>
                        </thead>
                        <!--<tbody>
                        <tr>
                            <td>
                                <div ng-repeat="resource in resources track by $index">
                                    <span ng-bind-html="resource"></span>
                                </div>
                            </td>

                            <td>
                                <div ng-repeat="hour in hours track by $index">
                                    <span ng-bind-html="hour"></span> <- comment this
                                    <input type="text" numbers-limit number-only ng-model="hour" class="input-sm form-control">
                                </div>
                            </td>

                            <td>
                                <div ng-repeat="disp in disp_dates track by $index">
                                    <span ng-bind-html="disp"></span>
                                </div>
                            </td>
                            <td>
                            </td>
                            <td width="1%">
                                <div ng-repeat="hour in hours track by $index">
                                    <a class="btn btn-danger btn-xs" ng-click="removeTodo($index)" aria-label="Remove">
                                        <span class="fa fa-times"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        </tbody>-->
                        <tbody>
                        <tr ng-repeat="items in selected.project_id.allocations track by $index">
                            <td>
                                    <span ng-bind-html="items.resource_name"></span>
                            </td>
                            <td>
                                <div class="col-md-4"></div>
                                <div class="col-md-6" style="padding-right: 0;">
                                    <!--<span ng-bind-html="items.alloc_hours"></span>-->
                                    <input type="text" numbers-limit number-only ng-value="items.total_hours" class="input-sm form-control">
                                </div>
                            </td>
                            <td>
                                    <span ng-bind-html="items.remaining_hours">
                            </td>
                            <td>
                                <a class="btn btn-warning btn-xs" ng-click="hoursModal(items.key.urlsafe)">
                                    <span class="fa fa-clock-o"></span> Allocate Hours
                                </a>
                            </td>
                            <td width="1%">
                                    <a class="btn btn-danger btn-xs" ng-click="removeResource(items.key.urlsafe, $index, items.total_hours)" aria-label="Remove">
                                        <span class="fa fa-times"></span>
                                    </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <span class="alert alert-danger" style="display:none;" id="error_msg"></span>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal-footer">
    <button id="ok-btn" class="btn btn-sm btn-primary" ng-click="ok()">Confirm</button>
    <button class="btn btn-sm btn-link" ng-click="cancel()">Cancel</button>
</div>
</form>

