<!DOCTYPE html>
<html lang="en">
 <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Sugar Ray Tenorio, ray@hotmail.ph, Joeper Serrano, Eric de Felix, Jona Eroy">
	<meta name="copyright" content="Cloudsherpas 2014, Google GDC Internal">

	<title>Billing and Resource Management App</title>

	<base href="/"></base>

	<!-- Context -->
	<link href="ng/public/vendor/fonts/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="ng/public/vendor/fonts/flaticon/flaticon.css" rel="stylesheet">

  <!-- Bootstrap -->
  <link href="ng/public/vendor/css/bootstrap.min.css" rel="stylesheet">
  <link href="ng/public/vendor/css/barm.css" rel="stylesheet">

 </head>
 
 <body ng-app="mailApp" mousetrap style="min-width: 1100px;">
   <div class="container">
     <div class="header" style="padding-top: 20px">
       <div class="row">
	 
	 <div class="col-md-2">
	   <img class="img-responsive" src="ng/public/vendor/img/cloud.png" alt="">
	 </div>
	 <div class="col-md-10">
	   <h1 style="font-size:80px">Billing and Resource Management </h1>
	 </div>
       </div>
     </div>
     
<div class="main-body">
  <hr />
  <div class="row" >
    <div class="col-md-2"> 
      <form class= "form-horizontal">
	<fieldset>
	  <div class = "header-left">
	    <legend>Resource</legend>
	  </div>
	  <div class="checkbox" ng-controller="resourceCtrl">
	    <ul ng-repeat="resource in resources">
	      <li>
		<input type="checkbox" ng-model="resource.key.urlsafe"> <span ng-bind="resource.resource_name"></span>
	      </li>
	    </ul>
	  </div>
	</fieldset>
      </form>    
    </div>


    <div class="col-md-8">
    
      <div ng-controller="ProgressDemoCtrl">
        <h4>BILLABLE BANK </h4>
        <progressbar animate="false" value="max" type="danger"><b ng-bind="max"></b></progressbar>
        
	<h4>ALLOCATED RESOURCES</h3><progressbar animate="false" value="dynamic" type="primary"><b ng-bind="dynamic">%</b></progressbar>
</div>
</div>
<div class="col-md-2" ng-controller="ModalDemoCtrl">
  <br/ >
    <br/ >
      <ul>
        <p><button class="btn btn-sm btn-primary" ng-click="openproj('md')" type="button"><i class="fa fa-plus-circle"></i>   ADD PROJECT</button></p>
	<br />
        <p><button class="btn btn-sm btn-primary" ng-click="allocate('lg')" type="button"><i class="fa fa-plus-circle"></i>   ALLOCATED RESOURCES</button></p>
      </ul>
</div>
</div>

<div class ="col-md-10 col-md-push-2">
  <br/ > 
      <table class="table table-bordered">
	<thead>
	  <tr>
	    <th>SUN</th>
	    <th>MON</th>
	    <th>TUE</th>
	    <th>WED</th>
	    <th>THU</th>
	    <th>FRI</th>
	    <th>SAT</th>
	  </tr>
	</thead>
	
	<tbody>
	  <tr class="info">
	    <td>fds </td>
	    <td>gfd </td>
	    <td>gd </td>
	    <td>fsd </td>
	    <td>gfds </td>
	    <td>ds </td>
	    <td>fdsg </td>
	  <tr>
	</tbody
	  
      </table>
    </div>
  </div>
  
</div>  

</div><!--- end progressCtrl--->


  
</div>  


          

<!-- jQuery -->
<script src="ng/public/vendor/js/jquery.min.js"></script>



<!-- Angular App -->
<script src="ng/angular/angular/angular.js"></script>
<!-- bootstrap.js -->
<scropt src="ng/public/vendor/css/bootstrap.min.css"></script>
<script src="ng/angular/angular/angular-resource.js"></script>
<script src="ng/angular/angular/angular-cookies.js"></script>
<script src="ng/angular/angular/angular-sanitize.js"></script>
<script src="ng/angular/angular/angular-animate.js"></script>
<script src="ng/angular/angular/angular-touch.js"></script>
<script src="ng/angular/angular/angular-route.js"></script>
<script src="ng/angular/cs-angular-utilities/pubsub.js"></script>
<script src="ng/angular/cs-angular-utilities/modal.js"></script>



<!-- date js  -->
<script src="ng/public/vendor/js/date.js"></script>

<!-- Angular UI / Angular Bootstrap -->
<script src="ng/public/angular-bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>

<!-- App -->
<script src="ng/app.js"></script>
<script src="ng/routes.js"></script>
<script src="ng/directives.js"></script>

<!-- services here -->
<script src="ng/services/mail_service.js"></script>
<script src="ng/services/barm_service.js"></script>
<!-- controllers here-->
  <script src="ng/controllers/mail_controller.js"></script>
  <script src="ng/controllers/modal_controller.js"></script>
  <script src="ng/controllers/proj_controller.js"></script>
  <script src="ng/controllers/alloc_controller.js"></script>
  <script src="ng/controllers/prog_controller.js"></script>
  <script src="ng/controllers/resource_controller.js"></script>
<!-- services here -->
<script src="ng/directives/inputvalidator.js"></script>


</body>
</html>
