<!DOCTYPE html>
<html lang="en">
 <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Sugar Ray Tenorio, ray@hotmail.ph, Joeper Serrano, Eric de Felix, Jona Eroy">
	<meta name="copyright" content="Cloudsherpas 2014, Google GDC Internal">

	<title>Billing and Resource Management App</title>

	<base href="/"></base>

	<!-- Context -->
	<link href="ng/public/vendor/fonts/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="ng/public/vendor/fonts/flaticon/flaticon.css" rel="stylesheet">

  <!-- Bootstrap -->
  <link href="ng/public/vendor/css/bootstrap.min.css" rel="stylesheet">
  <link href="ng/public/vendor/css/barm.css" rel="stylesheet">

 </head>
 
 <body ng-app="mailApp" mousetrap style="min-width: 1100px;">
   <div class="container">
     <div class="header">
       <div class="row">
         <div class="col-md-8">
           <div ng-controller="ProgressDemoCtrl">
             
             <h4>BILLABLE BANK <button class="btn btn-sm btn-primary" type="button" ng-click="random()">Randomize</button></h4>
             <progressbar max="max" value="dynamic"><span style="color:black; white-space:nowrap;" ng-bind="dynamic/max"> {%raw%}dynamic{%endraw%} / {%raw%}max{%endraw%}</span></progressbar>
             <h4>ALLOCATED RESOURCES <button class="btn btn-sm btn-primary" type="button" ng-click="random()">Randomize</button></h4>
             <progressbar max="max" value="dynamic"><span style="color:black; white-space:nowrap;" ng-bind="dynamic/max">{%raw%}dynamic{%endraw%} / {%raw%}max{%endraw%}</span></progressbar>
	     
           </div><!--- end progressCtrl--->
           
         </div>
         <div class="col-md-4" ng-controller="ModalDemoCtrl">
           <br/ >
             <br/ >
               <ul>
                 <p><button class="btn btn-sm btn-primary" ng-click="openproj('sm')" type="button"><i class="fa fa-plus-square"></i>   ADD PROJECT</button></p>
                 <br />
                 <p><button class="btn btn-sm btn-primary" ng-click="allocate()" type="button"><i class="fa fa-plus-square"></i>   ALLOCATED RESOURCES</button></p>
              </ul>
         </div>
       </div>
     </div>
     
     
     
     <div class="main-body">
       <div class="left-body">
         <div class="row">
           <div class="col-md-12">             <form role = "form">
	       
               <div class="checkbox">
                 <label><input type="checkbox" value="">1</label>
               </div>
               <div class="checkbox">
                 <label><input type="checkbox" value="">2</label>
               </div>
               <div class="checkbox">
                 <label><input type="checkbox" value="">3</label>
               </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">4</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">5</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">6</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">7</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">8</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">9</label>
              </div>
              <div class="checkbox">
		<label><input type="checkbox" value="">10</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">11</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">12</label>
              </div>
              
            </form>
           </div>
         </div>
       </div>
       <div class="right-body">
         <div class="row">
           <div class="col-md-12">  dsdsds
             
             
	     
             
           </div>
         </div>
       </div>
       
     </div>  

     
          
     
<!-- jQuery -->
<script src="ng/public/vendor/js/jquery.min.js"></script>



<!-- Angular App -->
<script src="ng/angular/angular/angular.js"></script>
<!-- bootstrap.js -->
<scropt src="ng/public/vendor/css/bootstrap.min.css"></script>
<script src="ng/angular/angular/angular-resource.js"></script>
<script src="ng/angular/angular/angular-cookies.js"></script>
<script src="ng/angular/angular/angular-sanitize.js"></script>
<script src="ng/angular/angular/angular-animate.js"></script>
<script src="ng/angular/angular/angular-touch.js"></script>
<script src="ng/angular/angular/angular-route.js"></script>
<script src="ng/angular/cs-angular-utilities/pubsub.js"></script>
<script src="ng/angular/cs-angular-utilities/modal.js"></script>



<!-- date js  -->
<script src="ng/public/vendor/js/date.js"></script>

<!-- Angular UI / Angular Bootstrap -->
<script src="ng/public/angular-bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>

<!-- App -->
<script src="ng/app.js"></script>
<script src="ng/routes.js"></script>
<!-- <script src="ng/directives.js"></script> -->

<!-- services here -->
<script src="ng/services/mail_service.js"></script>
<script src="ng/services/barm_service.js"></script>
<!-- controllers here-->
  <script src="ng/controllers/mail_controller.js"></script>
  <script src="ng/controllers/modal_controller.js"></script>
  <script src="ng/controllers/proj_controller.js"></script>
  <script src="ng/controllers/alloc_controller.js"></script>
  <script src="ng/controllers/prog_controller.js"></script>

</body>
</html>
