/* Global */
body {
    color: #444;
    background: #fff url(../img/page-bg.png);
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}


/* Header */
.header {
    background-color: #fff;
    padding: 15px 0;
    border-bottom: 1px solid #E0E0E0;
}

.header img.site-brand {
    height: 40px;
    width: auto;
    margin: -3px 0;
}

.header-buttons {
    margin-top: 3px;
}


/* Progress */

.progress-controls {
    border-bottom: 1px solid #CDCBCB;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.progress-control-container  {
    display: table;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.progress-control-container::before {
    display: table;
    content: " ";
}

.progress-control-container > .progress-control-values {
    display: table-cell;
    width: 10%;
    vertical-align: bottom;
}

.progress-control-container > .progress-control-values > span {
    font-size: 1.2em;
}

.progress-control-container > .progress-control-values > .fa {
    font-size: 1.5em;
}

.progress-control-container > .progress-control-values > span > label {
    margin-bottom: 0;
}

.progress-control-container > .progress-control-gauge {
    display: table-cell;
    width: 90%;
}

.progress-control-container .progress {
    border-radius: 1px;
    border: 1px solid #ccc;
    border-bottom-color: #C6C6C6;
    margin: 0;
}

.progress-control-container > .progress-control-gauge > label {
    margin: 3px 0;
    text-transform: uppercase;
    color: #666;
    font-size: 0.8em;
}


/* Sidebar */
.sidebar {
    /*margin-top: 15px;*/
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Calendar */
.calendar-container {
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Overrides  */
.table > tbody > tr > td,
.table > thead > tr > th { font-size: 1em; text-align: center; }
.table > tbody > tr > td:first-child,
.table > thead > tr > th:first-child { text-align: left; }

.dropdown-menu {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
    border: none;
}
.dropdown-menu>li>a { padding: 5px 20px; }
/*.dropdown-menu-datepicker .btn-default-modified { border-radius: 0; }*/

.modal-header { border-bottom: none; }
.modal-content {
    margin-top: 7%;
    border: none;
    box-shadow: 0 1px 30px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 30px rgba(0,0,0,0.4);
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, 0%);
      -ms-transform: translate(0, 0%);
          transform: translate(0, 0%);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.770, 0.000, 0.175, 1.000);
     -moz-transition: -moz-transform 0.2s cubic-bezier(0.770, 0.000, 0.175, 1.000);
       -o-transition: -o-transform 0.2s cubic-bezier(0.770, 0.000, 0.175, 1.000);
          transition: transform 0.2s cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.modal-backdrop {
  bottom: 0;
}

.form-control[readonly] { cursor: pointer; }

/* Well */
.well-billable label{
    text-transform: uppercase;
    color: #666;
    font-size: 0.8em;
}

.well-billable span {
    font-size: 0.8em;
    color: #0075c8;
}

/* Error bubble */
.bubble {
    position: absolute;
    padding: 5px;
    background: #FF0000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 99;
    color: #fff !important;
    font-weight: bold;
    cursor: pointer;
    width: 160px;
    text-align: center;
    display: block;
}

.bubble::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -8px;
    width: 0;
    height: 0;
    border-right: 8px solid #FF0000;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

/* Helpers */
.negate-padding {
    padding-left: 0;
    padding-right: 0;
}
.dropdown-menu-datepicker .dropdown-menu { padding: 15px; }
.push-left { margin-left: 15px; }
.unit-hours::after {
    content: "hrs.";
    font-size: 0.8em;
}
.unit-percent::after {
    content: "%";
}
.align-border {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #EBEBEB;
    border-bottom: none;
    margin: 0 -15px -5px -15px;
    padding: 0;
}
.fc-sun { background-color: #F5F5F5; }
.fc-sat { background-color: #F5F5F5; }


/* CSS only checkbox */
.sidebar .checkbox {
    font-size: 1em;
}
.sidebar .checkbox:hover {
    cursor: pointer;
    border-right: 2px solid #ff8e11;
}
.checkbox {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    margin-top: 0;
    display: block;
}
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 17px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 19px;
    height: 19px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 4px;
    padding-top: 3px;
    font-size: 11px;
    color: #555555;
}
.checkbox input[type="checkbox"] {
    /*display: none;*/
    opacity: 0;
}
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}
.checkbo.checkbox-circle label::before {
    border-radius: 50%;
}
.checkbo.checkbox-inline {
    margin-top: 0;
}
.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #ff8e11;
    border-color: #ff8e11;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff;
}

/* Animate */
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

#rightColumn {
	border-radius: 3px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
	padding: 15px 15px 15px 15px;
}
